@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald:200');
.admin .container{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.admin .container .boxes {
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto 30px;
    font-family: 'Lato', sans-serif;
}
.admin .container .boxes .box {
    border: 2px solid #000;
    border-radius: 4px;
    padding: 30px;
}
.hvr-sweep-to-right {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F4F4F4;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover .content span, .hvr-sweep-to-right:focus .content span, .hvr-sweep-to-right:active .content span {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
.admin .container .boxes .box span {
    display: block;
    margin-top: 10px;
    color: #575757
}
.admin .container .form {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-top: 34px;
}
.admin .container .form > div {
    margin-bottom: 40px;
}
.admin .container .form > div label {
    font-size: 25px;
    display: block;
    color: #575757;
}
.title label {
    margin-right: 233px;
}
.image label {
    margin-right: 178px;
}
.data label {
    margin-right: 209px;
}
.admin .container .form > div input, .admin .container .form > div textarea {
    padding: 15px 45px;
    border: 2px solid #575757;
    margin-top: 10px;
}
.admin .container .form > div textarea {
    height: 150px;;
}
.admin .container .form button {
    background: #FF8D19;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFF;
    padding: 18px 29px;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 30px;
}
.active {
    border: 2px solid #FF8D19 !important;
}

@media(max-width: 600px) {
    .admin .container .boxes {
        margin: 0 17px 33px;
    }
}