body {
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    font-family: Lato;
}
.login, .signup {
    background-color: #FFF;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    width: 400px;
    font-family: 'Lato', sans-serif;
    padding: 45px 0;
}
.box {
    width: 80%;
    margin: 0 auto;
    text-align: center 
}
.box h2 {
    font-size: 30px;
    color: #FF8D19;
    font-weight: 100;
}
.box label {
    float: left;
    margin-left: 19px;
    margin-bottom: 5px;
    font-weight: 100;
    color: #333;
    font-size: 17px;
    margin-top: 20px;
}
.box input {
    padding: 15px 14px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border: none;
    margin-bottom: 24px;
    width: 79%;

}
 .box input::placeholder {
    color: #7c7c7c;
}
 .box button {
    color: #FFF;
    background-color: #FF8D19;
    border: none;
    padding: 11px 40px;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition-duration: 0.5s;
    font-size: 16px;
}
 .box button:hover {
    cursor: pointer;
}
 .box a {
    color: #FF8D19;
    text-decoration: none;
}
 .box a:hover {
    font-weight: bold;
}
 .box .logo_first {
    display: block;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #FF8D19;
    margin-right: 110px;
}
 .box .logo_second {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #8F8F8F;
    margin-left: 50px;
}
 .box hr {
    width: 160px;
    margin: 13px auto;
    background-color: #A3A3A3;
    border: none;
    height: 2px;
}
@media (max-width: 600px) {
    body {
        padding: 0;
        margin: 0;
   }
     .login, .signup{
        width: 100vw;
        height: 100vh;
        padding-top: 250px;
   }
     .box {
        width: 100%;
   }
     .box h2 {
        font-size: 40px;
   }
     .box label {
        font-size: 22px;
        margin-bottom: 10px;
        margin-left: 28px;
   }
     .box input::placeholder {
        font-size: 17px;
   }
     .box button {
        margin-top: 15px;
        width: 87%;
   }
}
@media (max-width: 360px) {
    .login, .signup{
        padding-top: 100px;
   }
   .box h2 {
       margin: 20px 0;
   }
}
 .err {
     color:red;
 }