<div class="form">
    <div class="title">
        <label for="title">Title</label>
        <input id="title" type="text" placeholder="Enter The title">
    </div>
    <div class="image">
        <label for="image">ImageURL</label>
        <input id="image" type="text" placeholder="Enter Image URL">
    </div>
    <div class="data">
        <label>Content</label>
        <textarea id="content" placeholder="Enter the content"></textarea>
    </div>
    <div class="err" id="err"></div>
    <button id="article" type="submit">Add Article</button>
</div>