<<<<<<< HEAD
<hr>
<div class="form">
    <div class="name">
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="Enter The name">
        <p class="nameErr"></p>

    </div>
    <div class="email">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Enter The email">
        <p class="emailErr"></p>

    </div>
    <div class="image">
        <label for="image">ImageURL</label>
        <input id="doctorimg" type="text" placeholder="Enter Image URL">
    </div>
    <div class="password">
        <label for="password">password</label>
        <input id="password" type="password" placeholder="Enter the password">
        <p class="passwordErr"></p>
    </div>
    <div class="description">
        <label for="description">description</label>
        <textarea id="doctordesc" placeholder="Enter the description"></textarea>
        <p class="descErr"></p>
    </div>
    <button id="addDoctorB" type="submit">Add Doctor</button>
</div>
=======
 <section class="adddoctor">
    <div class="container">
        <div class="boxes">
            <div class="box hvr-sweep-to-right active">
                <div class="content">
                    <img src="https://thumb.ibb.co/et95Pp/25ee6afa66526c6f0a8b041dc68e9762.png" alt="doctors" border="0">
                    <span>Add doctor</span>
                </div>
            </div>
            <div class="box hvr-sweep-to-right">
                <div class="content">
                    <img src="https://thumb.ibb.co/chCVSK/ca5e4886a454c96e925082bd6bedb402.png" alt="Aricles" border="0">
                    <span>Add Article</span>
                </div>
            </div>
            <div class="box hvr-sweep-to-righ">
                <div class="content">
                    <img src="https://thumb.ibb.co/mZv6VU/c1f3495600bd7efa9c6f507226584392.png" alt="Messages" border="0">
                    <span>View Messages</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="form">
            <div class="name">
                <label for="name">Name</label>
                <input id="name" type="text" placeholder="Enter The name">
            </div>
            <div class="email">
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Enter The email">
            </div>
            <div class="image">
                <label for="image">ImageURL</label>
                <input id="image" type="text" placeholder="Enter Image URL">
            </div>
            <div class="password">
                <label for="password">password</label>
                <input id="password" type="password" placeholder="Enter the password">
            </div>
            <div class="description">
                <label for="description">description</label>
                <textarea id="description" placeholder="Enter the description"></textarea>
            </div>
            <button id="doctor" type="submit">Add Doctor</button>
        </div>
    </div>
 </section>
>>>>>>> 56a162f9e12e677d51f11a64667e4e49baea978f
