<hr>
<div class="form">
    <div class="name">
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="Enter The name">
        <p class="nameErr"></p>

    </div>
    <div class="email">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Enter The email">
        <p class="emailErr"></p>

    </div>
    <div class="image">
        <label for="image">ImageURL</label>
        <input id="doctorimg" type="text" placeholder="Enter Image URL">
    </div>
    <div class="password">
        <label for="password">password</label>
        <input id="password" type="password" placeholder="Enter the password">
        <p class="passwordErr"></p>
    </div>
    <div class="description">
        <label for="description">description</label>
        <textarea id="doctordesc" placeholder="Enter the description"></textarea>
        <p class="descErr"></p>
    </div>
    <button id="addDoctorB" type="submit">Add Doctor</button>
</div>
