<section class="admin">
    <div class="container">
        <div class="boxes">
            <div>
                <h1>Helloo</h1>
                <a href="https://imgbb.com/"><img src="https://thumb.ibb.co/et95Pp/25ee6afa66526c6f0a8b041dc68e9762.png" alt="25ee6afa66526c6f0a8b041dc68e9762" border="0"></a>
            </div>
        </div>
    </div>
</section>