 <section class="admin">
    <div class="container">
        <div class="boxes">
            <div class="box hvr-sweep-to-right">
                <div class="content">
                    <a href="https://imgbb.com/"><img src="https://thumb.ibb.co/et95Pp/25ee6afa66526c6f0a8b041dc68e9762.png" alt="articles" border="0"></a>
                    <span>Add Article</span>
                </div>
            </div>
            <div class="box hvr-sweep-to-right">
                <div class="content">
                    <a href="https://imgbb.com/"><img src="https://thumb.ibb.co/mZv6VU/c1f3495600bd7efa9c6f507226584392.png" alt="Messages" border="0"></a>
                    <span>View Messages</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="form">
            <div class="title">
                <label for="title">Title</label>
                <input type="text" placeholder="Enter The title">
            </div>
            <div class="image">
                <label for="image">ImageURL</label>
                <input type="text" placeholder="Enter Image URL">
            </div>
            <div class="data">
                <label>Content</label>
                <textarea placeholder="Enter the content"></textarea>
            </div>
        </div>
    </div>
 </section>