<section class="container">
  <h1>articles</h1>
  <section class="articles">

   {{#each articlesArray}}
    <div class="article">
      <div class="article_img">
        <div class="middle_button"> <button class="read_more">read more</button></div>
        <img src="{{this.article_img}}" alt="hospital"></div>
      <div class="article_title">{{this.article_title}}</div>
    </div>
{{/each}}

  </section>

</section>
