<div class="alter_header" id="alter_header">
    <i class="fas fa-chevron-left" id="back_btn"></i>
    <span class="username">rami rami rami</span>
    <span class="live_logo">
        <span class="live_circle"></span>
        <span class="live_word">Live</span>
    </span>
</div>

<div class="main_section">
    <div class="last_messages" id="last_messages">
        <div class="header">
            <input type="text" id="search_btn" placeholder="Type A User ... ">
        </div>
        <ul id="messages">
            <li id="123456789">
                <div class="message">
                    <span class="username"> rami rami </span>
                    <span class="live_logo">
                        <span class="live_circle"></span>
                        <span class="live_word">Live</span>
                    </span>
                    <span class="last_message">Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="messenger" id="messenger_space">
        <div class="header">
            <span> Username </span>
        </div>
        <div class="messenger_space" id="0">
            <div class="message">
                <div class="left">
                    <p> Lorem ipsum dolor
                    </p>
                </div>
            </div>
            <div class="message">
                <div class="right">
                    <p> Lorem ipsum dolor
                    </p>
                </div>
            </div>
        </div>
        <div class="message_sender">
            <input type="text" id="message_sender" placeholder="Type A Message ...">
        </div>
    </div>
</div>