<input id="name" type="text" placeholder="name">
<p class="nameErr"></p>
<input id="email"type="email" placeholder="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
<p class="emailErr"></p>
<input id="password"type="password" placeholder="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
<p class="passwordErr"></p>
<input id="doctorimg"type="text" placeholder="img">
<input id="doctordesc" type="text" placeholder="description">
<p class="descErr"></p>
<button id="addDoctorB"type="submit" name="button">ADD</button>
