<section class="container">
<div class="doctor_img"><img src= {{doctor.doctor_image}} alt="article image"></div>
<div class="doctor_name" ><h2>{{doctor.user_name}}</h2></div>
<div class="doctor_content" ><p>{{doctor.doctor_description}}</p></div>
</section>
