<section>
    <div class="container">
        <h1>Doctors</h1>
        <div class="doctors">
            <div class="doctor">
                <div class="img">
                </div>
                <article>
                    <span class="doctor_name">Dr. Rami Hassan Rami</span>
                    <span class="doctor_age">Age: 45</span>
                    <span class="about_doctor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos at modi
                        enim eligendi amet impedit, cumque, sit perferendis ab quis ex tempore facere a minus tenetur,
                        harum beatae numquam quas?
                    </span>
                    <input type="submit" id="view_doctor" value="View More">
                </article>
            </div>
        </div>
    </div>
</section>