<section>
    <div class="container">
        <h1>Doctors</h1>
        <div class="doctors">
            {{#each arrayOfDoctors}}
            <div class="doctor">
                <img class="img" src="{{this.doctor_image}}" alt="">
                <article>
                    <span class="doctor_name">{{this.user_name}}</span>
                    <span class="doctor_age">Age: 45</span>
                    <span class="about_doctor">{{this.doctor_description}}
                    </span>
                    <input type="submit" id="view_doctor" value="View More">
                </article>
            </div>
            {{/each}}
        </div>
    </div>
</section>