
    <!-- Showcase section -->
    <div class="showcase">
        <div class="container">
            <div class="content">
                <h1>Chat It Out </h1>
                <h2>Gaza Psychological Service</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis
                </p>
                <button type="submit">Join Us</button>
            </div>
        </div>
    </div>
    <!-- Thereby conculdes the showcase section -->

    <!-- Our services & contact us sections -->
    <main>
        <section>
            <h1>Our Services</h1>
            <div class="container2">
                <div class="item">
                    <h1>About us</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                        quam felis, ultricies nec, </p>
                </div>
                <div class="item">
                    <h1>Consultant</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                        quam felis, ultricies nec, </p>
                </div>
                <div class="item">
                    <h1>Article</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                        quam felis, ultricies nec, </p>
                </div>
                <div class="item">
                    <h1>chat</h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                        massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                        quam felis, ultricies nec, </p>
                </div>
            </div>
            <hr>
        </section>
        <!-- And thus ends the services section -->


        <!-- And here begins the contact us -->    
        <section>
            <h1>Contact us</h1>
            <div class="container3">
                <div class="pic">
                </div>
                <div class="form">
                    <label for="Username">Username:
                        <input type="text" name="Username" id="username" placeholder="Enter your Name">
                    </label>
                    <label for="Email">Email:
                        <input type="email" name="Email" id="email" placeholder="Enter your email">
                    </label>
                    <label for="Subject">Subject: <input type="text" name="Subject" id="subject" placeholder="Enter the subject">
                    </label>
                    <label for="content">Content: 
                            <input type="text" name="Content" id="content" placeholder="Enter your message"> 
                    </label>
                    <button>Send</button>
                </div>
            </div>
        </section>
    </main>