 <section class="signup">

      <div class="box">

        <div class="logo">
       
            <span class="logo_first">
                Chat it out
            </span>
   
            <span class="logo_second">
                Gaza psychological service
            </span>
   
        </div>
       <hr>
       <h2>Sign Up</h2>

       <div class="username">

            <label for="username">Username: </label>
            <input type="text" name="username" placeholder="Enter your username" id="user" required>
            <span id="usernameErr"></span>
        </div>

        <div class= "email">
                <label for="email">Email: </label>
                <input type="email" placeholder="Enter your email" id="email" required>
                <span id="emailErr"></span>
            </div>
   
        <div class="password">
   
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Enter your password" id="pass" required>
            <span id="passErr"></span>
   
        </div>

        <div>
                <button type="submit" id="button">Sign up</button>
        </div>

        <a href="#">sign in</a>
        </div>
    </section>