
    <div class="alter_header">

        <i class="fas fa-chevron-left"></i>
        <span class="username">rami rami rami</span>


        <span class="live_logo">
            <span class="live_circle"></span>
            <span class="live_word">Live</span>
        </span>


    </div>
