
        <div class="hide_aside">
            <h1>Chat It Out</h1>
            <span>Articles</span>
            <span>Doctors</span>
            <span>About Us</span>
            <span>Chat</span>
            <span>Sign Up</span>
            <span>Sign In</span>

        </div>

