
<div class="hide_aside" id="slider_bar">
    <h1>Chat It Out</h1>
    <span><a href="/">Home</a></span>
    <span><a href="/articles">Articles</a></span>
    <span><a href="/doctors">Doctors</a></span>
    <span><a href="/chat">Chat</a></span>
    <span><a href="/signup">Sign Up</a></span>
    <span><a href="/signin">Sign In</a></span>
</div>

