  <div class="container">
    <div class="logo-container">
      <span class="first">Chat it Out </span>
      <span class="second">Gaza psychological service</span>
    </div>

    <nav>
      <ul>
        <li><a href=""> <img src="https://files.gitter.im/adfaasdf/Lobby/8Cbb/facebook-_2_.png" alt=""></a></li>
        <li><a href=""><img src="https://buddhify.com/wp-content/uploads/2017/12/Instagram.png" alt="" class="instgram"> </a></li>
        <li><a href=""> <img src="https://files.gitter.im/adfaasdf/Lobby/8Cbb/twitter-_1_.png" alt=""> </a></li>
      </ul>
    </nav>

  </div>